.cointainer-block {
	width: 1088px;
	margin: 0 auto;
}
/*fonts-Georgian*/
.Georgiantitle {
	font-family: "BPG Banner Caps", sans-serif;
	font-size: 14px;
	color: #5863F8;
	font-weight: bold;
	text-transform: uppercase;

}
.Georgiantitle-rel {
	font-family: 'BPG Arial';
    font-size: 42px;
    color: #000000;
    font-weight: bolder;
    line-height: 52px;
}
/*fonts-latin*/
.title-latin {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #5863F8;
	font-weight: bold;
	vertical-align: middle;
}
.latin-h5 {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight: SemiBold;
	vertical-align: middle;
}
.latin-p {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	width: 260px;
	color: #B1B1B1;
	font-weight: lighter;
	display: inline-block;
}

.title-block {
	width: 498px;
	margin-top: 82px;
	
}
.left-block {
	width: 536px;
	display: inline-block;
	background: #F8F8F8;
	margin-right: 16px;

}
.right-block {
	width: 536px;
	display: inline-block;
	background: #BE2B2B;
}
.text {
	display: inline-block;
	vertical-align: middle;
}
.blocks {
	margin: 65px 0px 154px;

}
.titles {
	text-align: center;

}
.first-block {
	width: 352px;
	margin-right: 16px;
	background: #F8F8F8;
	display: inline-block;
}
.second-block {
	width: 352px;
    margin-right: 16px;
	background: #F8F8F8;
	display: inline-block;

}
.third-block {
	display: inline-block;
	width: 352px;
	background: #F8F8F8;
	display: inline-block;

}
.firstsection-image {
	width: 168px;
	height: 190px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 16px;

}
.secondsection-image {
	width: 352px;
	height: 212px;
	display: inline-block;
	vertical-align: middle;

}
.two-blocks {
	margin-top: 50px;
}